## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

1.sol 
The interesting research question having in my mind is effect of music on mental health. As we know that these generations started using using music for various reasons and I wanted to know how it effects on mental health.
The kind of data needed to solve the problem is age of people, and type of music they listen most, how does it effect on them is there any improvement or no effect, how depression, anxiety levels taking place, the type of stream they use most, how many hours in a day they are listening to it.
The strategy I used in collecting the dataset is I have gone through different datasets that are present in Kaggle and whatever the data that required for me I have searched for it..

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [22]:
# You code here (Please add comments in the code):
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
def data_extraction(URL):
    r = requests.get(URL)
    html = r.content
    p=bs(html,'html.parser')
    h=p.find_all('li',attrs={"itemprop":"distribution"})
    name_list=[]
    url=[]
    name=URL.split("/")[-1]
    for i in h:
        p=i.find('a')
        url.append(p['href'])#stroing different format links
        g=i.find('span')
        name_list.append(g.text)#stroing format type
    
    for num in range(len(name_list)):
        url_m="https://catalog.data.gov/"
        r1 = requests.get(url_m+url[num], allow_redirects=True)
        html1=r1.content
        p1=bs(html1,'html.parser')
        h2=p1.find_all('a',attrs={'id':'res_url'})
        for j in h2:
            down=j['href'] # extracting API for different formats
            extension=name_list[num]
            final = requests.get(down, allow_redirects=True)
            with open("music.csv", 'wb') as f:
                      f.write(final.content) # writig different format files 
data_extraction("https://catalog.data.gov/dataset/doitt-classical-music")

df = pd.read_csv('music.csv')
df

,the_geom,NAME,TEL,URL,ADDRESS1,ADDRESS2,CITY,ZIP
0,POINT (-73.99184539780428 40.725323992599215),Amato Opera Company,(212) 228-8200,http://www.amato.org/,319 Bowery,NaN,New York,10003
1,POINT (-73.98224374816537 40.76690660946508),American Composers Orchestra,(212) 977-8495,http://www.americancomposers.org/,1775 Broadway,Suite 525,New York,10019
2,POINT (-73.98145510042576 40.7640504744572),American Symphony Orchestra,(212) 581-1365,http://www.americanorchestras.org/,850 Seventh Avenue,Suite 503,New York,10018
3,POINT (-73.99527705332432 40.703133879313896),Bargemusic,(718) 624-2083,http://www.bargemusic.org/,Fulton Ferry Landing,NaN,Brooklyn,11201
4,POINT (-73.99166690325696 40.69425851506696),Brooklyn Philharmonic,(718) 622-5555,http://www.brooklynphilharmonic.org/,189 Montague Street,BAM Opera House,Brooklyn,11201
5,POINT (-73.98258591780092 40.77348313087519),Chamber Music Society of Lincoln Center - Alic...,(212) 875-5775,http://www.chambermusicsociety.org/?gclid=CMuU...,60 Lincoln Center Plaza,Alice Tully Hall,New York,10023
6,POINT (-73.95951466282561 40.772496150991905),Dicapo Opera Theatre,(212) 288-9438,http://www.dicapo.com/,184 East 76th Street,NaN,New York,10021
7,POINT (-73.98268973674126 40.768840694734465),Jazz at Lincoln Center,(212) 258-9800,http://www.jalc.org/,Time Warner Center,NaN,New York,10023
8,POINT (-73.98315213205032 40.772621129031634),Lincoln Center - Avery Fisher Hall,(866) 809-4709,http://new.lincolncenter.org/live/,10 Lincoln Center Plaza,NaN,New York,10023
9,POINT (-73.98266455541503 40.76861522732396),Frederick P. Rose Hall: Rose Theater - Lincoln...,(212) 258-9800,http://www.lincolncenter.org/load_screen.asp?s...,Time Warner Center,NaN,New York,10023
10,POINT (-73.98479206096924 40.77288058667397),Metropolitan Opera House - Lincoln Center,(866) 809-4709,http://www.metoperafamily.org/metopera/,30 Lincoln Center Plaza,NaN,New York,10023
11,POINT (-73.98363921654727 40.77195827918657),New York State Theater - David H. Koch Theater...,(212) 875-5000,http://www.lincolncenter.org/load_screen.asp?s...,20 Lincoln Center Plz,NaN,New York,10023
12,POINT (-73.98387224955984 40.77163207250495),New York City Opera,(212) 870-5630,http://www.nycopera.com/,20 Lincoln Center Plz,NaN,New York,10023
13,POINT (-73.97937987890207 40.76394470486483),New York City Center,(212) 769-1000,http://www.nycitycenter.org/,130 West 56th Street,NaN,New York,10019
14,POINT (-73.97101219218254 40.772674967676686),New York Grand Opera,(212) 245-8837,http://www.newyorkgrandopera.org/,"Central Park, Naumberg Bandshall",NaN,New York,0
15,POINT (-73.98292039104743 40.77296405046475),New York Philharmonic,(212) 874-9021,http://nyphil.org/,10 Lincoln Center Plaza,Avery Fisher Hall at Lincoln Center,New York,10023
16,POINT (-73.91843737123887 40.872635443273644),Opera Company of Brooklyn,(212) 567-3283,http://www.operabrooklyn.com/,33 Indian Road,NaN,New York,10034
17,POINT (-74.00315244780298 40.62665966207402),Regina Opera Company,(718) 232-3555,http://www.reginaopera.org/,1230 65th Street,NaN,Brooklyn,11219
18,POINT (-73.97991704953914 40.76500730020768),Carnegie Hall,(212) 903-9600,http://www.carnegiehall.org,Carnegie Hall,NaN,New York,10019
19,POINT (-73.98299395626857 40.77525371608086),Merkin Concert Hall at The Kaufman Center,(212) 501-3303,http://kaufman-center.org/merkin-concert-hall,129 West 67th Street,NaN,New York,10023

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [9]:
import requests
import json


topic = 'movies'
 

url = "https://api.semanticscholar.org/graph/v1/paper/search?query="+ topic + "&offset=100&limit=3&fields=url,title,abstract,authors"


payload={}
headers = {}


response = requests.request("GET", url, headers=headers, data=payload)


print(response.text)


data = json.loads(response.text)['data']

df = pd.DataFrame(data)
df.head()

{"total": 117816, "offset": 100, "next": 103, "data": [{"paperId": "26fc1a628f20d6dac24bdf212f97a8ace45b98e1", "url": "https://www.semanticscholar.org/paper/26fc1a628f20d6dac24bdf212f97a8ace45b98e1", "title": "Embodying movies: Embodied simulation and film studies", "abstract": null, "authors": [{"authorId": "2914469", "name": "V. Gallese"}, {"authorId": "48667485", "name": "Michele Guerra"}]}, {"paperId": "f5227e8359610bb1ea254e3a661d559e078f569d", "url": "https://www.semanticscholar.org/paper/f5227e8359610bb1ea254e3a661d559e078f569d", "title": "Association of established smoking among adolescents with timing of exposure to smoking depicted in movies.", "abstract": "BACKGROUND\nIt is not known whether exposure to smoking depicted in movies carries greater influence during early or late adolescence. We aimed to quantify the independent relative contribution to established smoking of exposure to smoking depicted in movies during both early and late adolescence.\n\n\nMETHODS\nWe prospectively assessed 2049 nonsmoking students recruited from 14 randomly selected public schools in New Hampshire and Vermont. At baseline enrollment, students aged 10-14 years completed a written survey to determine personal, family, and sociodemographic characteristics and exposure to depictions of smoking in the movies (early exposure). Seven years later, we conducted follow-up telephone interviews to ascertain follow-up exposure to movie smoking (late exposure) and smoking behavior. We used multiple regression models to assess associations between early and late exposure and development of established smoking.\n\n\nRESULTS\nOne-sixth (17.3%) of the sample progressed to established smoking. In analyses that controlled for covariates and included early and late exposure in the same model, we found that students in the highest quartile for early exposure had 73% greater risk of established smoking than those in the lowest quartile for early exposure (27.8% vs 8.6%; relative risk for Q4 vs Q1 = 1.73, 95% confidence interval = 1.14 to 2.62). However, late exposure to depictions of smoking in movies was not statistically significantly associated with established smoking (22.1% vs 14.0%; relative risk for Q4 vs Q1 = 1.13, 95% confidence interval = 0.89 to 1.44). Whereas 31.6% of established smoking was attributable to early exposure, only an additional 5.3% was attributable to late exposure.\n\n\nCONCLUSIONS\nEarly exposure to smoking depicted in movies is associated with established smoking among adolescents. Educational and policy-related interventions should focus on minimizing early exposure to smoking depicted in movies.", "authors": [{"authorId": "4532500", "name": "B. Primack"}, {"authorId": "4615203", "name": "M. Longacre"}, {"authorId": "145451666", "name": "M. Beach"}, {"authorId": "1399448720", "name": "A. Adachi-Mejia"}, {"authorId": "3454099", "name": "L. Titus"}, {"authorId": "37250243", "name": "M. Dalton"}]}, {"paperId": "99a971559446aa024cbdc07b9bd6f6617766a213", "url": "https://www.semanticscholar.org/paper/99a971559446aa024cbdc07b9bd6f6617766a213", "title": "A Benchmarking Campaign for the Multimodal Detection of Violent Scenes in Movies", "abstract": null, "authors": [{"authorId": "1996351", "name": "C. Demarty"}, {"authorId": "3278931", "name": "C\u00e9dric Penet"}, {"authorId": "1708671", "name": "G. Gravier"}, {"authorId": "152714397", "name": "M. Soleymani"}]}]}

,paperId,url,title,abstract,authors
0,26fc1a628f20d6dac24bdf212f97a8ace45b98e1,https://www.semanticscholar.org/paper/26fc1a62...,Embodying movies: Embodied simulation and film...,None,"[{'authorId': '2914469', 'name': 'V. Gallese'}..."
1,f5227e8359610bb1ea254e3a661d559e078f569d,https://www.semanticscholar.org/paper/f5227e83...,Association of established smoking among adole...,BACKGROUND\nIt is not known whether exposure t...,"[{'authorId': '4532500', 'name': 'B. Primack'}..."
2,99a971559446aa024cbdc07b9bd6f6617766a213,https://www.semanticscholar.org/paper/99a97155...,A Benchmarking Campaign for the Multimodal Det...,None,"[{'authorId': '1996351', 'name': 'C. Demarty'}..."

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [19]:
import pandas as pd
import numpy as np
import tweepy
from tweepy import OAuthHandler
import requests
import json
consumer_key ="2Em7SxlX9jPMfL4x97r3zMO0x"
consumer_secret = "sVbJzekKuiAgq83Y7gCwNVbSowqQokGVzWexKHl2cXIPceWtSd"
access_token ="1439767876962029572-uUMt8oWRyzj9ilE5zk4uYbL93sCMPT"
access_token_secret = "oydIGymn9bS767FVEMawE9GyGAnMmBJfaY2XXKmHnmliF"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api_auth = tweepy.API(auth,wait_on_rate_limit=True)
user_name =str(input("Enter the user name\n"))
twe = tweepy.Cursor(api_auth.user_timeline, id=user_name).items(1000)

tweets_df = [[user_name ,tweet.created_at, tweet.text] for tweet in twe]

tweet = pd.DataFrame(tweets_df)
tweet.columns=['user_name','posted time','text']
tweet

Enter the user name
@imVKohli

,user_name,posted time,text
0,@imVKohli,2023-02-12 17:04:41,(2/2) The womenâ€™s team is taking such giant le...
1,@imVKohli,2023-02-12 17:04:41,(1/2)What a win from our women's team against ...
2,@imVKohli,2023-02-12 03:58:00,Blue is brave. Blue is brilliant. Blue is hÌ¶iÌ¶...
3,@imVKohli,2023-02-11 10:02:35,1-0. Nagpur. âœ… https://t.co/GzfE7J1E2F
4,@imVKohli,2023-02-08 08:16:11,Running into BGT starting tomorrow ðŸ¤©. Always a...
...,...,...,...
995,@imVKohli,2019-07-31 14:59:55,"I'm always on the go, so I need a little bit e..."
996,@imVKohli,2019-07-29 14:40:24,Miami bound ðŸ˜ŽðŸ’ªðŸ‡®ðŸ‡³ https://t.co/ywIh0ePTuZ
997,@imVKohli,2019-07-29 09:55:19,Did you see what the future looks like? Follow...
998,@imVKohli,2019-07-28 07:35:59,@imjadeja is a game changer in the future too....
999,@imVKohli,2019-07-28 06:44:12,Honoured to be a part of such a special evenin...